.form__name {
  width: 358px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  border: 0;
  border-bottom:1px solid rgba(0, 0, 0, 0.2);

  margin: 0;
  padding: 0 0 13.26px 0;
}

@media screen and (max-width: 767px) {
  .form__name {
    max-width: 238px;
  }
}
