.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 882px;
  min-height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 100%;
    min-height: 56px;
    margin-top: 28px;
  }
}
