.photo-card {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: ;

  gap: 21px 18px;

  width: 100%;
  max-width: 882px;


  margin: 0;
  margin-top: 51px; /* Позже перезаписать конструкцию в коротку */
  padding: 0;
}
