.footer {
  display: flex;
  justify-content: flex-start;
  max-width: 24.84%;
  margin: 66px 199px 60px;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 100%;
    margin: 48px 80px 44px
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 100%;
    margin: 48px 19px 36px;
  }
}
